//! **************************************************************************
// Written by: Map K.31 on Fri Mar 11 19:31:43 2016
//! **************************************************************************

SCHEMATIC START;
COMP "MT_ADV" LOCATE = SITE "J4" LEVEL 1;
COMP "MT_CLK" LOCATE = SITE "H5" LEVEL 1;
COMP "MT_CRE" LOCATE = SITE "P7" LEVEL 1;
COMP "JA<0>" LOCATE = SITE "L15" LEVEL 1;
COMP "OE" LOCATE = SITE "T2" LEVEL 1;
COMP "MT_WAIT" LOCATE = SITE "F5" LEVEL 1;
COMP "WE" LOCATE = SITE "N7" LEVEL 1;
COMP "RP" LOCATE = SITE "T5" LEVEL 1;
COMP "DATA<10>" LOCATE = SITE "M3" LEVEL 1;
COMP "DATA<11>" LOCATE = SITE "M6" LEVEL 1;
COMP "DATA<12>" LOCATE = SITE "L2" LEVEL 1;
COMP "DATA<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "DATA<14>" LOCATE = SITE "R3" LEVEL 1;
COMP "DATA<15>" LOCATE = SITE "T1" LEVEL 1;
COMP "ST_STS" LOCATE = SITE "D3" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "ADDR<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "ADDR<2>" LOCATE = SITE "J2" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "ADDR<3>" LOCATE = SITE "H4" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "ADDR<4>" LOCATE = SITE "H1" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "ADDR<5>" LOCATE = SITE "H2" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "ADDR<6>" LOCATE = SITE "J5" LEVEL 1;
COMP "ADDR<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "ADDR<8>" LOCATE = SITE "H6" LEVEL 1;
COMP "ADDR<9>" LOCATE = SITE "F1" LEVEL 1;
COMP "MT_CE" LOCATE = SITE "R6" LEVEL 1;
COMP "MT_LB" LOCATE = SITE "K5" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "MT_UB" LOCATE = SITE "K4" LEVEL 1;
COMP "ST_CE" LOCATE = SITE "R5" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "L6" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "M4" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "DATA<8>" LOCATE = SITE "L3" LEVEL 1;
COMP "DATA<9>" LOCATE = SITE "L5" LEVEL 1;
COMP "ADDR<10>" LOCATE = SITE "G3" LEVEL 1;
COMP "ADDR<11>" LOCATE = SITE "G6" LEVEL 1;
COMP "ADDR<20>" LOCATE = SITE "D2" LEVEL 1;
COMP "ADDR<12>" LOCATE = SITE "G5" LEVEL 1;
COMP "ADDR<21>" LOCATE = SITE "K3" LEVEL 1;
COMP "ADDR<13>" LOCATE = SITE "G4" LEVEL 1;
COMP "ADDR<22>" LOCATE = SITE "D1" LEVEL 1;
COMP "ADDR<14>" LOCATE = SITE "F2" LEVEL 1;
COMP "ADDR<23>" LOCATE = SITE "K6" LEVEL 1;
COMP "ADDR<15>" LOCATE = SITE "E1" LEVEL 1;
COMP "ADDR<16>" LOCATE = SITE "M5" LEVEL 1;
COMP "ADDR<17>" LOCATE = SITE "E2" LEVEL 1;
COMP "ADDR<18>" LOCATE = SITE "C2" LEVEL 1;
COMP "ADDR<19>" LOCATE = SITE "C1" LEVEL 1;
SCHEMATIC END;

